%h1 Listing characters

%table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th Level
      %th
      %th
      %th

  %tbody
    - @characters.each do |character|
      %tr
        %td= character.name
        %td= character.level
        %td= link_to 'Show', character
        %td= link_to 'Edit', edit_character_path(character)
        %td= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' }

%br

.btn
  = link_to 'New Character', new_character_path