<p id="notice"><%= notice %></p>

<p>
  <strong>My name is </strong><%= @character.name %>, 
  <strong>but you can call me </strong><%= @character.nickname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @character.level %>
</p>

<h3>Ability Scores</h3>
<table id="ability_table" class="table">
  <thead>
    <tr>
      <th>Ability</th>
      <th>Score</th>
      <th>Mod.</th>
    </tr>
  </thead>
  <tbody>
    <% Character::ABILITIES.each do |ability| %>    
      <tr>
        <td><%= ability.capitalize %></td>
        <td><%= @character.send("base_#{ability}".to_sym) %></td>
        <td><%= @character.send("#{ability}_modifier".to_sym) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Saving Throws</h3>
<table id="throws_table" class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Total</th>
      <th>Base</th>
      <th>Abil.</th>
      <th>Mag.</th>
      <th>Misc.</th>
      <th>Temp.</th>
    </tr>
  </thead>
  <tbody>
    <% Character::SAVES.each do |save, ability| %>
    <tr>
      <td><%= save.capitalize %></td>
      <td><%= @character.send("total_#{save}") %></td>
      <td><%= @character.send("base_#{save}") %></td>
      <td><%= @character.send("#{ability}_modifier") %></td>
      <td><%= @character.send("#{save}_magic_modifier") %></td>
      <td><%= @character.send("#{save}_miscellaneous_modifier") %></td>
      <td><%= @character.send("#{save}_temporary_modifier") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
