<!DOCTYPE html>
<html>
<head>
  <title>Heimdaller</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  

  <div class="container">
    <div class="navbar">
      <a class="navbar-brand" href="#">Heimdaller</a>
      <ul class="nav">
        <li <%= set_active_tab('welcome').html_safe %>><a href="/">Home</a></li>
        <li <%= set_active_tab('characters').html_safe %>><a href="/characters">Characters</a></li>
      </ul>
    </div>
    <%= yield %>
  </div>

</body>
</html>
